html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span {
  font-size: 1.5rem;
}

input {
  height: 3rem;
  font-size: medium;
  color: green;
  width: 15rem;
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
}

img {
  height: 20rem;
  width: 20rem;
  border-radius: 20px;
}

#errorContainer {
  display: none;
  color: red;
  font-size: 2rem;
  justify-items: center;
}

#header { 
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid;
}

#headerLogo {
  height: 12rem;
  width: 12rem;
}

#subHeader {
  display : flex;
  flex-direction: column;
  align-items: center;
  justify-content:  center;
  height: 14rem;
}

#petsContainer {
  display: flex;
  flex-wrap: wrap;
}

#noSearchResults {
  display: none;
  justify-content: center;
  width: 100%;
  color: red;
}

.petSubItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(200, 236, 245);
  margin: 20px;
  height: auto;
  width: 20rem;
  padding: 1rem 1rem 2rem 1rem;
  border-radius: 20px;
}

.petSubItemSelected {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  height: auto;
  width: 20rem;
  padding: 1rem 1rem 2rem 1rem;
  background-color: orange;
  border-radius: 20px;
}

.titleSpan {
  padding: .5rem;
  font-weight: 700;
}

.petImageDiv {
  display: flex;
  background-size: 20rem 20rem;
  height: 20rem;
  width: 20rem;
  background-repeat: no-repeat;
  border-style: solid;
  border-color: white;
  border-width: thick;
  border-radius: 20px;
}

.petImageDivSelected {
  display: flex;
  background-size: 20rem 20rem;
  height: 20rem;
  width: 20rem;
  background-repeat: no-repeat;
  border-style: solid;
  border-width: thick;
  border-color: lightgreen;
  border-radius: 20px;
}

.petImageText {
  font-size: 2rem;
}

.downloadButtonStyle {
  all: unset;
  background-color:rgb(69, 177, 204);
  cursor: pointer;
  border-radius: 20px;
  height: 4rem;
  width: 15rem;
  padding: 1rem;
  font-weight: 700;
  color: white;
  text-align: center;
  box-shadow: rgb(41, 47, 53) 2px 2px; 
}

.downloadButtonDisabled {
  all: unset;
  background-color: gray;
  cursor: not-allowed;
  border-radius: 20px;
  height: 4rem;
  width: 15rem;
  padding: 1rem;
  font-weight: 700;
  color: white;
  text-align: center;
  box-shadow: rgb(41, 47, 53) 2px 2px; 
}

.downloadButtonStyle:hover {
  background-color: orange;
  color: black
}

.backToTopContainer {
  display : flex;
  justify-content: flex-end;
  padding: 2rem;
  margin-right: 4rem;
}

.backToTopButton {
  all: unset;
  cursor: pointer;
  box-shadow: rgb(41, 47, 53) 2px 2px; 
  text-align: center;
  background-color: orange;
  color: black;
  width: 14rem;
  height: 4rem;
  border-radius: 20px;
}

@media only screen and (max-width: 600px) {
  #petsContainer {
    justify-content: center;
  }
  .downloadButtonStyle {
    width: 8rem;
  }
  .petImageDiv {
    width: 15rem;
    border-radius: 'none';
  }
  .petSubItem { 
    width: full;
  }
}